{% extends 'base.html' %}

{% block content %}

<div class="content">
  <h3>Existing Bills</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Date Created</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for bill in bills%}
        
      <tr>
        <th scope="row">{{bill.customer_name}}</th>
        <td>{{bill.date_created}}</td>
        <td><a class="btn btn-primary btn-sm" href="/final-bill/{{bill.id}}">Calculate</a></td>
        <td><a class="btn btn-primary btn-sm" href="/add-product-to-bill">Add Product</a></td>
      </tr>
     
      {% endfor %}
    </tbody>
  </table>
  <hr>
  
  
</div>
        

{% endblock %}